*{
  box-sizing-border-box;
}
@media  (max-width:750px){
  body{
    width:100%;
  }
  
  .photo{
    width:300px;
    height:200px;
    margin:0 auto;
    border-radius:50%;
    

   
  }
  .image2{
    display:none;

}
 

 .profile{
   float:none;
   
  

 }
 .profile h3{
   font-size:20px;
 }
 .contents{
   font-size:15px;
    
 }
    
  }
  


  


}
